@use '@angular/material' as mat;

@include mat.core();

.icongroup {
    float: right;
    padding-top: 50px;
    display: flex;
    margin-left: auto;
    
}

a {
    text-decoration: none;
    color: white;
}

.row-size {
    height: 175px;
}


.logo {
    float: left;;
    padding-top: 3%;
    
    max-height: 190px;
    width: auto;
    cursor: pointer;
    
}


.icon {
    color: white;
    padding: 20px 20px;
    width: 35;
    height: 35;
}

.button-group {
    max-width: 20%;
    padding-left: 36%;
   
    
}

.button-group .button {
    color: white;
    padding: 15%;
}

.button-group .button:hover {
    background-color: white;
    color: #007F36; /* Ryan's Green */
}

.dropdown {
    float: right;
    margin-left: auto;
}

.mat-menu-content {
    background-color: #007F36 !important;
  }

.dicon {
    color: #007F36;
}