<p>
  <mat-toolbar color="primary">

    <mat-toolbar-row class="row-size">
      <img  class="logo" routerLink="/" src="../../assets/logo.jpeg"><img/>
      <div class="icongroup">
        <a href="https://www.facebook.com/FootballFanalystsNetwork" target="_blank">
          <img  class="icon"  src="../../assets/facebook.svg"><img/>
        </a>
        <a href="https://www.youtube.com/@FootballFanalystsNetwork" target="_blank">
          <img  class="icon"  src="../../assets/youtube.svg"><img/>
        </a>
        <a href="https://www.tiktok.com/@footballfanalystsnetwork" target="_blank">
          <img  class="icon"  src="../../assets/tiktok.svg"><img/>
        </a>
        <a href="https://www.instagram.com/footballfanalystsnetwork/" target="_blank">
          <img  class="icon"  src="../../assets/instagram.svg"><img/>
        </a>
        <!--<li *ngIf="userIsAuthenticated">
          <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a> 
        </li>
        <li *ngIf="!userIsAuthenticated">
          <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a> 
        </li>
        <li *ngIf="!userIsAuthenticated">
          <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a> 
        </li>-->
        <li *ngIf="userIsAuthenticated">
          <button mat-button (click)="onLogout()">Logout</button> 
        </li>
      </div>
      
    </mat-toolbar-row>


    <mat-toolbar-row>

       <div class="button-group">
        <a mat-button class="button" routerLink="/letstalk"> Let's Talk</a> 
        <a mat-button class="button" routerLink="/draftg"> Draft Guide</a>
        <a mat-button class="button" routerLink="/merch"> Merch</a>
      </div>

    </mat-toolbar-row>

</mat-toolbar>
</p>

