@use '@angular/material' as mat;

@include mat.core();

.icongroup {
    float: right;
    padding-top: 50px;
    display: flex;
    
}

a {
    text-decoration: none;
    color: white;
}

.row-size {
    height: 175px;
}


.logo {
    display: block;
    padding-top: 3%;
    margin-right: auto;
    height: 115%;
    width: auto;
    
}


.icon {
    color: white;
    padding: 20px 20px;
    width: 35;
    height: 35;
}

.button-group {
    max-width: 20%;
    padding-left: 36%;
   
    
}

.button-group .button {
    color: white;
    padding: 15%;
}

.button-group .button:hover {
    background-color: white;
    color: #007F36; /* Ryan's Green */
}