<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches|Assistant">
<div class="row">
  <div class="calindi blurb">
    <h1>Let's Talk...</h1>
    <p>Are you about to make a major team and future altering fantasy football trade?
       Are you looking to get a full breakdown of your fantasy team? Or are you just looking 
       to talk about fantasy football with someone who loves it just as much as you do? You’re 
       in the right place! Get ready for an *INDUSTRY EXCLUSIVE* experience to have a 1 on 1 
       conversation with your favorite fantasy football content creator to address your specific 
       fantasy/dynasty fantasy football team! Through this feature, you will be able to schedule 
       a 1 on 1 call through Zoom with me to address any of these needs you may have, or anything 
       else you need. It’s pivotal to have the ability to get a 2nd opinion from a fantasy football 
       expert with a decade of experience of what works and what doesn’t. Book your time now!
    </p>
  </div>
</div>

<!-- <div #container class="calendly-inline-widget" style="min-width:320px;height:580px;" data-auto-load="false"></div> -->
<!-- <div class="calendly-inline-widget" [innerHTML]="https://calendly.com/footballfanalystsnetwork?hide_gdpr_banner=1" style="min-width:320px;height:630px;"></div> -->
<iframe src="https://calendly.com/footballfanalystsnetwork?hide_gdpr_banner=1" class="fullscreenIFrame"></iframe>
