<div class="card-row">

  <div class="card-group">
    <mat-card class="cards">
      <mat-card-header>
        <img mat-card-avatar class="example-header-image" src="../../assets/logo.jpeg">
        <mat-card-title class="title">Top 10 2023 Dynasty Rookie Rankings BEFORE the NFL Combine</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/vid1.jpg" alt="youtube video" style="height: fit-content;">
      <mat-card-content>
        <p>
          Jaylin Hyatt is a stud but the people who hate on mocks that have him first round 
          don't understand how much he opens an offense, Tennessee had the #1 ranked offense 
          this season and he was huge part of every players success, he spreads defenses better 
          than any other WR in the class and generates blown coverage for other WRs. 
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card-group">
    <mat-card class="cards">
      <mat-card-header>
        <img mat-card-avatar class="example-header-image" src="../../assets/logo.jpeg">
        <mat-card-title class="title">What Should You Do With Kayshon Boutte? | 2023 Dynasty Rookies</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/vid2.jpg" alt="youtube video" style="height: fit-content;">
      <mat-card-content>
        <p>
          Kayshon Boutte is one of the most polarizing players in the entire 2023 dynasty 
          rookie class. Ryan analyzes Kayshon's dynasty and fantasy value and tells you what 
          you should do with Kayshon Boutte as he continues his 2023 dynasty rookie class breakdowns.
          Drop your question in the comments and we will create a video response for you! Don't miss this one!
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card-group">
    <mat-card class="cards">
      <mat-card-header>
        <img mat-card-avatar class="example-header-image" src="../../assets/logo.jpeg">
        <mat-card-title class="title"> Real Dynasty Trades Analysis! | Dynasty Fantasy Football</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/vid3.jpg" alt="youtube video" style="height: fit-content;">
      <mat-card-content>
        <p>
          Ryan goes over some real dynasty trades and analyzes all of them from his own leagues! 
          Let me know who else is making strategic moves to take their fantasy football teams up a notch!
          Do you have a football question you want to be answered? Drop your question in 
          the comments and we will create a video response for you!Don't miss this one!
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>