<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches|Assistant">

<h1 [style.font-size]="hFontSize"> FFN's Fantasy Football Draft Guide</h1>

<mat-grid-list [cols]="cols">
  <mat-grid-tile>
<img class="draft-guide" src="../../assets/draft-guide-infographic2.3.jpg">
  </mat-grid-tile>
</mat-grid-list>
  <div>
    <h3>
      I have created an <i>AMAZING</i> and <i>CUSTOM</i>, Fantasy Football Draft Guide to help you buid the BEST team this season! 
      If you would like to puchase plase click on the PayPal link below, fill out your information, and you will recieve a downloadable PDF
      within 12 hours.
    </h3>
  </div>
  <div>
    <p> <i>paypal link</i></p>
  </div>
