<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches|Assistant">
<h1 [style.font-size]="hFontSize">Ryan Podnar here...</h1>

<mat-grid-list [cols]="cols"  [gutterSize] = "gutterSize" [rowHeight]="rowHeight">
   <mat-grid-tile>

         <p [style.font-size]="fontSize">
       My name is Ryan Podnar and I am the founder of Football Fanalysts Network.
       I’ve been playing fantasy football for a decade now and became obsessed with it almost 
       instantly. I’ve spent years and years doing in-depth research and finding the best, most 
       efficient ways to win fantasy championships through trial and error. When I started my YouTube 
       channel, I started it for 2 reasons: to help others win their fantasy championships in a much 
       shorter amount of time with the knowledge and methods I have learned over a decade, and to provide 
       an outlet for those of you who want strictly fantasy football content, creating an escape from 
       everyday life. Fantasy football is much more than just a game to me, it’s a way to get away from 
       the often negative news feed that fills up the world. My obsession with winning fantasy football 
       championships has evolved into an obsession of helping YOU win your fantasy football championship 
       much faster, and more efficient than I did. If you are interested in winning your fantasy championship 
       this year, please check out all the helpful features on my website, such as the 2023 dynasty rookie 
       draft guide, the “let’s talk” feature (1 on 1 session with me), and links to my YouTube videos. 
       Thank you for visiting FootballFanalystsNetwork.com, and most importantly, let’s dominate fantasy 
       football together!
      </p>
    
  
   </mat-grid-tile>
    

  
   <mat-grid-tile>
      <img  src="../../../assets/ryanbiopic.JPG">
   </mat-grid-tile>

</mat-grid-list>