<div class="row">
    <div class="column left">
    <h1>Ryan Podnar here...</h1>  
    <p headline-1> I'm the creator of Football Fanalysts Network,
      and here to give yall the scoop on all things Fantasy Football! Need to know 
      what players will make or break your team? Insert more info about football stuff
      that people would absolutly positivly need to know. Now state why you what
      heck youre talking about and pros of the peeps following you. I make dope ass
      vids on youtube, and post those and more awesome content on instagram and tiktok!
      (links are up above) Welcome to my website! Here I plan to have my most recent 
      videos up for easy viewing and will also have short written breakdowns of the 
      hot topics, or as I call it, "Straight To The Punt: The Cliffnotes".
      It will act as an archive of all my content so you can always be
      up to date with the league.
    </p> 
    </div>
    <div class="column right">
        <img  src="../../../assets/ryanbiopic.JPG">
    </div>
    
</div>


    
  